<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities - HobbyHub</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <h1>HobbyHub</h1>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/activities">Activities</a></li>
            <li><a href="/progress">Progress</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h2>Explore Activities</h2>
        <p>Choose fun and productive hobbies during your free time.</p>

        <div class="activity-container">
            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1501004318641-b39e6451bec6?q=80&w=1170&auto=format&fit=crop"  alt="Drawing">

                <h3>Drawing</h3>
                <p>Creative • 30 mins</p>
                <a href="/course-drawing">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?q=80&w=1170&auto=format&fit=crop" alt="Workout">

                <h3>Workout</h3>
                <p>Fitness • 15 mins</p>
                <a href="/course-workout">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?q=80&w=1170&auto=format&fit=crop" alt="Reading">

                <h3>Reading</h3>
                <p>Learning • 30 mins</p>
                <a href="/course-reading">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1513364776144-60967b0f800f?q=80&w=1170&auto=format&fit=crop" alt="Coloring">

                <h3>Coloring</h3>
                <p>Relaxing • 25 mins</p>
                <a href="/course-coloring">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?q=80&w=1170&auto=format&fit=crop" alt="Cooking">

                <h3>Cooking</h3>
                <p>Fun • 45 mins</p>
                <a href="/course-cooking">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1170&auto=format&fit=crop" alt="DIY Crafts">

                <h3>DIY Crafts</h3>
                <p>Creative • 20 mins</p>
                <a href="/course-diy">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?q=80&w=1170&auto=format&fit=crop" alt="Listening Music">

                <h3>Listening Music</h3>
                <p>Relaxing • 30 mins</p>
                <a href="/course-music">
                    <button>Try Now</button>
                </a>
            </div>

        </div>

    </section>

</body>
</html>